replicaCount: 1

image:
  repository: 975050024946.dkr.ecr.eu-central-1.amazonaws.com/containerize-vijay-assignment/profileservice
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: LoadBalancer
  port: 3002

config:
  PORT: 3002

secret:
  enabled: true
  MONGODB_URI: mongodb+srv://vijaykankane:gqwerty@vkcluster.iwlln43.mongodb.net/testDb

resources:
  requests:
    cpu: "100m"
    memory: "200Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"

hpa:
  enabled: true
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80